<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; background-color: grey; height: 400px;">
  <div>
    <h1>Stupid Coaching</h1>
    <div>
      <p><%= @question %></p>
      <p>-You</p>
    </div>
    <div>
      <p><%= @answer %></p>
      <p>-Your Coach</p>
    </div>
  </div>
</div>
