<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; background-color: grey; height: 300px;">
  <div>
    <p>"What do you want to ask to the coach?"</p>
    <form action="/answer" data-turbo="false">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
