<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; background-color: grey; height: 300px;">
  <div>
    <h1>Welcome to Stupid Coaching!</h1>
    <%= link_to "Go to Stupid Coaching!", ask_path %>
  </div>
</div>
